
Server/node_modules/
client/node_modules/

.env

public/idenfifier/*
*/public/uploads/*

classifier/Binary
classifier/server
classifier/app/uploads_temp/*
classifier/app/ai_model/modelo_convolucional0_3D2Ep_binario.keras
*.pyc
__pycache__/



