.user-options-cell {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* ------ Estilos para los mensajes de éxito o error */
.get-success-message-user,
.get-error-message-user {
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    color: var(--color-white);
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1100;
    animation: fadeInOut 3s forwards;
}

.get-success-message-user {
    background-color: var(--color-success);
}

.get-error-message-user {
    background-color: var(--color-error);
}

.edit-success-message-user,
.edit-error-message-user {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    color: var(--color-white);
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1100;
    animation: fadeInOut 3s forwards;
}

.edit-success-message-user {
    background-color: var(--color-success);
}

.edit-error-message-user {
    background-color: var(--color-error);
}

/* ------ Estilos para el switch estilo iOS */
.switch-ios {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
}

.switch-ios input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider-ios {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider-ios:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider-ios {
    background-color: #4dc3ff; 
}

input:checked + .slider-ios:before {
    transform: translateX(22px); 
}

/* ------ Estilo opcional para el texto de rol */
.user-options-cell span {
    font-weight: bold;
    color: var(--color-secondary);
}

/* ------ Estilos para el modal de edición */
.edit-user-modal-content input {
    margin-top: 10px;
    margin-bottom: 0px;
    display: block;
    width: 100%;
}

.edit-user-modal-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
}

.edit-user-modal-button {
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color var(--transition-speed);
}
