.logout-button-container #logout-button {
    color: var(--color-primary);
    border: none;
    background-color: transparent;
    text-decoration: none;
    font-size: 14px;
    text-decoration: underline transparent;
    transition: color var(--transition-speed) ease, text-decoration-color var(--transition-speed) ease;
}

.logout-button-container #logout-button:hover {
    text-decoration-color: var(--color-primary);
    cursor: pointer;
}
