/* ------ Estilo para los mensajes de error */
.error-message-juntam {
    color: var(--color-error); 
    font-size: 0.9rem;
    margin-top: 0.3rem; 
    margin-bottom: 1rem; 
    display: block; 
}

.get-error-message-juntam, .delete-error-message-juntam, .add-error-message-juntam, .edit-error-message-juntam {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-width: 90%;
    padding: 15px;
    color: var(--color-white);
    background-color: var(--color-error); 
    border-radius: 5px;
    text-align: center;
    font-family: var(--font-family-base);
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation: fadeInOut 3s forwards;
    z-index: 1100; /* Asegura que esté por encima de otros elementos */
}

.get-error-message-juntam{
    top: 75%;
}

.add-error-message-juntam{
    animation: fadeInOut 5s forwards;
}

/* ------ Estilos para los mensajes de éxito */
.get-success-message-juntam, .delete-success-message-juntam, .add-success-message-juntam, .edit-success-message-juntam {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-width: 90%;
    padding: 15px;
    color: var(--color-white);
    background-color: var(--color-success); 
    border-radius: 5px;
    text-align: center;
    font-family: var(--font-family-base);
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation: fadeInOut 3s forwards;
    z-index: 1100; /* Asegura que esté por encima de otros elementos */
}

.get-success-message-juntam{
    top: 75%;
}

/* ------ Estilos para la ventana modal */
.confirm-delete-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.confirm-delete-modal-content {
    background: var(--color-white);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.confirm-delete-modal-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
}

.confirm-delete-modal-button {
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color var(--transition-speed);
}

.confirm-delete-modal-button.cancel {
    background-color: var(--color-border);
    color: #333;
}

.confirm-delete-modal-button.confirm {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.confirm-delete-modal-button.cancel:hover {
    background-color: var(--color-error);
    color: var(--color-white);
}

.confirm-delete-modal-button.confirm:hover {
    background-color: var(--color-primary-hover);
    color: var(--color-primary-hover);
}

/* ------ Ventana modal de agregación */
.add-juntam-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: hidden;
}

.add-juntam-modal-content {
    background: var(--color-white);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 90vw;
    width: 400px;
    max-height: 80vh;
    overflow-y: auto;
}

/* Personalización del scrollbar en el modal */
.add-juntam-modal-content::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de desplazamiento */
}

.add-juntam-modal-content::-webkit-scrollbar-track {
    background: var(--color--scrollbar-track); /* Color de fondo de la pista del scrollbar */
    border-radius: 10px; /* Bordes redondeados para la pista */
}

.add-juntam-modal-content::-webkit-scrollbar-thumb {
    background: var(--color--scrollbar-thumb); /* Color del pulgar (la parte que se mueve del scrollbar) */
    border-radius: 10px; /* Bordes redondeados */
}

.add-juntam-modal-content::-webkit-scrollbar-thumb:hover {
    background: var(--color--scrollbar-thumb_hover); /* Color del pulgar al pasar el mouse */
}

.add-juntam-modal-content input {
    margin-top: 10px;
    margin-bottom: 0px;
    display: block;
    width: 100%;
}

.input-gasketGenius{
    opacity: 0.8; /* Ajustar la opacidad */
    color: #6c757d; /* Color de texto más claro para parecer deshabilitado */
    pointer-events: none; /* Desactivar interacción con el mouse (si quieres que no sea editable) */
}

.add-juntam-modal-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
}

.add-juntam-modal-button {
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color var(--transition-speed);
}

.add-juntam-modal-button.cancel {
    background-color: var(--color-border);
    color: #333;
}

.add-juntam-modal-button.confirm {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.add-juntam-modal-button.cancel:hover {
    background-color: var(--color-error);
    color: var(--color-white);
}

.add-juntam-modal-button.confirm:hover {
    background-color: var(--color-primary-hover);
    color: var(--color-primary-hover);
}

/* ------ Ventana modal de edición */
.edit-juntam-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: hidden;
}

.edit-juntam-modal-content {
    background: var(--color-white);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 90vw;
    width: 400px;
    max-height: 80vh;
    overflow-y: auto;
    margin: 4rem auto;
    margin-top: 8rem;
}

/* Personalización del scrollbar en el modal */
.edit-juntam-modal-content::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de desplazamiento */
}

.edit-juntam-modal-content::-webkit-scrollbar-track {
    background: var(--color--scrollbar-track); /* Color de fondo de la pista del scrollbar */
    border-radius: 10px; /* Bordes redondeados para la pista */
}

.edit-juntam-modal-content::-webkit-scrollbar-thumb {
    background: var(--color--scrollbar-thumb); /* Color del pulgar (la parte que se mueve del scrollbar) */
    border-radius: 10px; /* Bordes redondeados */
}

.edit-juntam-modal-content::-webkit-scrollbar-thumb:hover {
    background: var(--color--scrollbar-thumb_hover); /* Color del pulgar al pasar el mouse */
}

.edit-juntam-modal-content input {
    margin-top: 10px;
    margin-bottom: 0px;
    display: block;
    width: 100%;
}

.edit-juntam-modal-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
}

.edit-juntam-modal-button {
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color var(--transition-speed);
}

.edit-juntam-modal-button.cancel {
    background-color: var(--color-border);
    color: #333;
}

.edit-juntam-modal-button.confirm {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.edit-juntam-modal-button.cancel:hover {
    background-color: var(--color-error);
    color: var(--color-white);
}

.edit-juntam-modal-button.confirm:hover {
    background-color: var(--color-primary-hover);
    color: var(--color-primary-hover);
}

/* ------ Ajustes responsivos SOLO para el header (buscador y botón) */
@media (max-width: 768px) {
    .juntam-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .juntam-actions {
        width: 100%;
        justify-content: flex-start;
        margin-top: 1rem;
    }

    .add-juntam-button {
        width: 100%;
    }
}