.juntag-management {
    background-color: var(--color-white);
    padding: 2rem;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 2rem 0;
}

.juntag-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.juntag-header h1 {
    color: var(--color-secondary);
    font-size: 1.5rem;
    margin: 0;
}

.juntag-actions {
    display: flex;
    gap: 1rem;
}

.juntag-search-bar {
    padding: 0.5rem 1rem;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    transition: border-color var(--transition-speed), box-shadow var(--transition-speed);
}

.juntag-search-bar:focus {
    border-color: var(--color-primary);
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

.add-juntag-button {
    padding: 0.5rem 1rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color var(--transition-speed);
}

.add-juntag-button:hover {
    background-color: var(--color-primary-disabled);
}

/* Contenedor centrado de la tabla */
.juntag-table-container {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.juntag-table {
    width: 100%;
    max-width: 1200px; /* Tamaño máximo de la tabla */
    border-collapse: collapse;
    margin: 0 auto;
}

.juntag-table th, 
.juntag-table td {
    padding: 1rem;
    border: 1px solid var(--color-border);
    text-align: left;
}

.juntag-table th {
    background-color: var(--color-thead);
    color: var(--color-white);
}

.juntag-options-cell {
    display: flex;
    gap: 0.5rem;
}

.juntag-edit-button, 
.juntag-delete-button {
    font-size: 16px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--color-secondary);
    transition: color var(--transition-speed);
}

.juntag-edit-button:hover {
    color: var(--color-primary);
}

.juntag-delete-button:hover {
    color: var(--color-error);
}

/* Estilo para los mensajes de error */
.error-message-juntag {
    color: var(--color-error); /* Color de error definido en tus variables de CSS */
    font-size: 0.9rem;
    margin-top: 0.3rem; /* Espacio entre el input y el mensaje de error */
    margin-bottom: 1rem; /* Espacio adicional debajo del mensaje */
    display: block; /* Asegura que se mantenga en bloque */
}

.get-error-message-juntag, .delete-error-message-juntag, .add-error-message-juntag, .edit-error-message-juntag {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-width: 90%;
    padding: 15px;
    color: var(--color-white);
    background-color: var(--color-error); /* Define este color en tus variables de CSS */
    border-radius: 5px;
    text-align: center;
    font-family: var(--font-family-base);
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation: fadeInOut 3s forwards;
    z-index: 1100; /* Asegura que esté por encima de otros elementos */
}

.get-error-message-juntag{
    top: 75%;
}

.add-error-message-juntag{
    animation: fadeInOut 5s forwards;
}

.get-error-message-juntag, .delete-error-message_juntag, .add-error-message-juntag, .edit-error-message-juntag {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-width: 90%;
    padding: 15px;
    color: var(--color-white);
    background-color: var(--color-error);
    border-radius: 5px;
    text-align: center;
    font-family: var(--font-family-base);
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation: fadeInOut 3s forwards; /* Cambia la duración de la animación a 60 segundos */
    z-index: 1100;
}

.get-error-message-juntag{
    top: 75%;
}

.get-success-message-juntag, .delete-success-message-juntag, .add-success-message-juntag, .edit-success-message-juntag {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-width: 90%;
    padding: 15px;
    color: var(--color-white);
    background-color: var(--color-success); /* Define este color en tus variables de CSS */
    border-radius: 5px;
    text-align: center;
    font-family: var(--font-family-base);
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation: fadeInOut 3s forwards;
    z-index: 1100; /* Asegura que esté por encima de otros elementos */
}

.get-success-message-juntag{
    top: 75%;
}

.confirm-delete-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.confirm-delete-modal-content {
    background: var(--color-white);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.confirm-delete-modal-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
}

.confirm-delete-modal-button {
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color var(--transition-speed);
}

.confirm-delete-modal-button.cancel {
    background-color: var(--color-border);
    color: #333;
}

.confirm-delete-modal-button.confirm {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.confirm-delete-modal-button.cancel:hover {
    background-color: var(--color-error);
    color: var(--color-white);
}

.confirm-delete-modal-button.confirm:hover {
    background-color: var(--color-primary-hover);
    color: var(--color-primary-hover);
}

.add-juntag-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: hidden;
}

.add-juntag-modal-content {
    background: var(--color-white);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 90vw;
    width: 400px;
    max-height: 80vh;
    overflow-y: auto;
}

/* Personalización del scrollbar en el modal */
.add-juntag-modal-content::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de desplazamiento */
}

.add-juntag-modal-content::-webkit-scrollbar-track {
    background: var(--color--scrollbar-track); /* Color de fondo de la pista del scrollbar */
    border-radius: 10px; /* Bordes redondeados para la pista */
}

.add-juntag-modal-content::-webkit-scrollbar-thumb {
    background: var(--color--scrollbar-thumb); /* Color del pulgar (la parte que se mueve del scrollbar) */
    border-radius: 10px; /* Bordes redondeados */
}

.add-juntag-modal-content::-webkit-scrollbar-thumb:hover {
    background: var(--color--scrollbar-thumb_hover); /* Color del pulgar al pasar el mouse */
}

.add-juntag-modal-content input {
    margin-top: 10px;
    margin-bottom: 0px;
    display: block;
    width: 100%;
    opacity: 0.8; /* Ajustar la opacidad */
    color: #6c757d; /* Color de texto más claro para parecer deshabilitado */
    pointer-events: none; /* Desactivar interacción con el mouse (si quieres que no sea editable) */
}

/* Estilos del dropzone */
.dropzoneStyle {
    border: 2px dashed var(--color-border);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    color: var(--color-secondary);
    transition: border-color 0.3s ease-in-out;
    background-color: var(--color-white);
    margin-top: 15px;
}

.dropzoneStyle p {
    margin: 0;
    font-size: 1rem;
    color: var(--color-text-secondary);
}

.dropzoneStyle .preview{
    margin-top: 20px;
    text-align: center;
}

.dropzoneStyle .preview .previewImage{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropzoneStyle:hover {
    border-color: var(--color-primary);
    background-color: rgba(0, 123, 255, 0.05);
}

.dropzoneStyle.active {
    border-color: var(--color-primary);
    background-color: rgba(0, 123, 255, 0.1);
}

.dropzoneStyle.active p {
    color: var(--color-primary);
}

.add-juntag-modal-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
}

.add-juntag-modal-button {
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color var(--transition-speed);
}

.add-juntag-modal-button.cancel {
    background-color: var(--color-border);
    color: #333;
}

.add-juntag-modal-button.confirm {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.add-juntag-modal-button.cancel:hover {
    background-color: var(--color-error);
    color: var(--color-white);
}

.add-juntag-modal-button.confirm:hover {
    background-color: var(--color-primary-hover);
    color: var(--color-primary-hover);
}

.edit-juntag-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: hidden;
}

.edit-juntag-modal-content {
    background: var(--color-white);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 90vw;
    width: 400px;
    max-height: 80vh;
    overflow-y: auto;
}

/* Personalización del scrollbar en el modal */
.edit-juntag-modal-content::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de desplazamiento */
}

.edit-juntag-modal-content::-webkit-scrollbar-track {
    background: var(--color--scrollbar-track); /* Color de fondo de la pista del scrollbar */
    border-radius: 10px; /* Bordes redondeados para la pista */
}

.edit-juntag-modal-content::-webkit-scrollbar-thumb {
    background: var(--color--scrollbar-thumb); /* Color del pulgar (la parte que se mueve del scrollbar) */
    border-radius: 10px; /* Bordes redondeados */
}

.edit-juntag-modal-content::-webkit-scrollbar-thumb:hover {
    background: var(--color--scrollbar-thumb_hover); /* Color del pulgar al pasar el mouse */
}

.edit-juntag-modal-content input {
    margin-top: 10px;
    margin-bottom: 0px;
    display: block;
    width: 100%;
}

.edit-juntag-modal-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
}

.edit-juntag-modal-button {
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color var(--transition-speed);
}

.edit-juntag-modal-button.cancel {
    background-color: var(--color-border);
    color: #333;
}

.edit-juntag-modal-button.confirm {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.edit-juntag-modal-button.cancel:hover {
    background-color: var(--color-error);
    color: var(--color-white);
}

.edit-juntag-modal-button.confirm:hover {
    background-color: var(--color-primary-hover);
    color: var(--color-primary-hover);
}

/* Ajustes responsivos SOLO para el header (buscador y botón) */
@media (max-width: 768px) {
    .juntag-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .juntag-actions {
        width: 100%;
        justify-content: flex-start;
        margin-top: 1rem;
    }

    .juntag-search-bar {
        width: 100%;
        margin-bottom: 1rem;
    }

    .add-juntag-button {
        width: 100%;
    }
}