@import '../../styles/global.css';

.register-view {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh; /* Asegura que el contenedor cubra toda la altura de la pantalla */
    background-image: url("../../assets/img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0; /* Elimina cualquier padding que pueda estar afectando */
}

.register-content {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1100px;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
}

.register-form {
    max-width: 550px;
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
    font-family: var(--font-family-base);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: var(--color-white);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color var(--transition-speed);
}

.register-button:hover {
    background-color: var(--color-secondary);
}

.form-group .error-input {
    border-color: var(--color-error); /* Color del borde cuando hay un error */
    margin-bottom: 20px;
}

.error-message-register {
    color: var(--color-error); /* Asegúrate de que el texto sea visible */
    display: block; /* Asegúrate de que el mensaje esté visible */
    margin-bottom: 15px;
    font-size: 14px;
}

.send-success-message-register {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-width: 90%;
    padding: 15px;
    color: var(--color-white);
    background-color: var(--color-success); /* Define este color en tus variables de CSS */
    border-radius: 5px;
    text-align: center;
    font-family: var(--font-family-base);
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation: fadeInOut 3s forwards;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.send-error-message-register {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-width: 90%;
    padding: 15px;
    color: var(--color-white);
    background-color: var(--color-success); /* Define este color en tus variables de CSS */
    border-radius: 5px;
    text-align: center;
    font-family: var(--font-family-base);
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation: fadeInOut 3s forwards;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

/* Estilos responsivos para pantallas medianas */
@media (max-width: 1200px) {
    .register-form {
        max-width: 450px;
    }
}

/* Estilos responsivos para pantallas pequeñas */
@media (max-width: 800px) {
    .register-form {
        max-width: 350px;
    }

    .register-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%; /* Asegura que el contenedor ocupe el ancho completo */
    }

    .register-links a {
        width: 100%; /* Asegura que los enlaces no se desborden */
        text-align: center;
        margin: 10px 0px 10px 0px;
        box-sizing: border-box;
    }
}

/* Estilos responsivos para pantallas extra pequeñas */
@media (max-width: 500px) {
    .register-form {
        max-width: 300px;
    }

    .register-button {
        padding: 8px 16px;
    }
}