:root {
    /* Colores */
    --color-primary: #28B7D7;
    --color-primary-disabled: #b3e5fc;
    --color-secondary: #075079;
    --color-background: #f8f9fa;
    --color-border: #e0e0e0;
    --color-white: #FFF;
    --color-placeholder: #075079;
    --color-error: #D73328;
    --color-success: #5cb85c;
    --color-black: #000;
    --color-thead: #F39C12;

    --color--scrollbar-track: #f1f1f1;
    --color--scrollbar-thumb: #888;
    --color--scrollbar-thumb_hover: #555;
  
    /* Tipografía */
    --font-family-base: 'Helvetica', sans-serif;
  
    /* Otros estilos globales */
    --border-radius: 4px;
    --transition-speed: 0.3s;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

.form{
    width: 100%;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: var(--color-secondary);
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color var(--transition-speed) ease, box-shadow var(--transition-speed) ease; /* Transición para suavizar el cambio de borde */
}

.form-group input::placeholder {
    color: var(--color-placeholder);
    opacity: 0.7;
    font-style: italic;
}

/* Estilo para el borde del input cuando está enfocado */
.form-group input:focus {
    border-color: var(--color-primary); /* Cambia el color del borde al enfoque */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Añade una sombra alrededor del input */
    outline: none; /* Remueve el borde de enfoque predeterminado del navegador */
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translate(-50%, -60%); /* Empieza ligeramente por encima */
    }
    10% {
        opacity: 1;
        transform: translate(-50%, -50%); /* Se coloca en su posición final */
    }
    90% {
        opacity: 1; /* Se mantiene visible la mayor parte del tiempo */
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -60%); /* Se desvanece y se mueve hacia arriba */
    }
  }
  