/* ------ Estilo para los mensajes de error */
.error-message-motor {
    color: var(--color-error); 
    font-size: 0.9rem;
    margin-top: 0.3rem; 
    margin-bottom: 1rem; 
    display: block; 
}

.get-error-message-motor, .delete-error-message-motor, .add-error-message-motor, .edit-error-message-motor, .assign-error-message-motor {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-width: 90%;
    padding: 15px;
    color: var(--color-white);
    background-color: var(--color-error); 
    border-radius: 5px;
    text-align: center;
    font-family: var(--font-family-base);
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation: fadeInOut 3s forwards;
    z-index: 1100; /* Asegura que esté por encima de otros elementos */
}

.get-error-message-motor, .assign-error-message-motor{
    top: 75%;
}

.add-error-message-motor{
    animation: fadeInOut 3s forwards;
}

/* ------ Estilos para los mensajes de éxito */
.get-success-message-motor, .delete-success-message-motor, .add-success-message-motor, .edit-success-message-motor, .assign-success-message-motor {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-width: 90%;
    padding: 15px;
    color: var(--color-white);
    background-color: var(--color-success); 
    border-radius: 5px;
    text-align: center;
    font-family: var(--font-family-base);
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation: fadeInOut 3s forwards;
    z-index: 1100; /* Asegura que esté por encima de otros elementos */
}

.get-success-message-motor{
    top: 75%;
}

/* ------ Estilos para la ventana modal */
.confirm-delete-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.confirm-delete-modal-content {
    background: var(--color-white);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.confirm-delete-modal-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
}

.confirm-delete-modal-button {
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color var(--transition-speed);
}

.confirm-delete-modal-button.cancel {
    background-color: var(--color-border);
    color: #333;
}

.confirm-delete-modal-button.confirm {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.confirm-delete-modal-button.cancel:hover {
    background-color: var(--color-error);
    color: var(--color-white);
}

.confirm-delete-modal-button.confirm:hover {
    background-color: var(--color-primary-hover);
    color: var(--color-primary-hover);
}

/* ------ Ventana modal de agregación */
.add-motor-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: hidden;
}

.add-motor-modal-content {
    background: var(--color-white);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 90vw;
    width: 400px;
    max-height: 80vh;
    overflow-y: auto;
    margin: 4rem auto;
    margin-top: 8rem;
}

/* Personalización del scrollbar en el modal */
.add-motor-modal-content::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de desplazamiento */
}

.add-motor-modal-content::-webkit-scrollbar-track {
    background: var(--color--scrollbar-track); /* Color de fondo de la pista del scrollbar */
    border-radius: 10px; /* Bordes redondeados para la pista */
}

.add-motor-modal-content::-webkit-scrollbar-thumb {
    background: var(--color--scrollbar-thumb); /* Color del pulgar (la parte que se mueve del scrollbar) */
    border-radius: 10px; /* Bordes redondeados */
}

.add-motor-modal-content::-webkit-scrollbar-thumb:hover {
    background: var(--color--scrollbar-thumb_hover); /* Color del pulgar al pasar el mouse */
}

.add-motor-modal-content input {
    margin-top: 10px;
    margin-bottom: 0px;
    display: block;
    width: 100%;
}

.add-motor-modal-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
}

.add-motor-modal-button {
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color var(--transition-speed);
}

.add-motor-modal-button.cancel {
    background-color: var(--color-border);
    color: #333;
}

.add-motor-modal-button.confirm {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.add-motor-modal-button.cancel:hover {
    background-color: var(--color-error);
    color: var(--color-white);
}

.add-motor-modal-button.confirm:hover {
    background-color: var(--color-primary-hover);
    color: var(--color-primary-hover);
}

/* ------ Ventana modal de edición */
.edit-motor-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: hidden;
}

.edit-motor-modal-content {
    background: var(--color-white);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 90vw;
    width: 400px;
    max-height: 80vh;
    overflow-y: auto;
    margin: 4rem auto;
    margin-top: 8rem;
}

/* Personalización del scrollbar en el modal */
.edit-motor-modal-content::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de desplazamiento */
}

.edit-motor-modal-content::-webkit-scrollbar-track {
    background: var(--color--scrollbar-track); /* Color de fondo de la pista del scrollbar */
    border-radius: 10px; /* Bordes redondeados para la pista */
}

.edit-motor-modal-content::-webkit-scrollbar-thumb {
    background: var(--color--scrollbar-thumb); /* Color del pulgar (la parte que se mueve del scrollbar) */
    border-radius: 10px; /* Bordes redondeados */
}

.edit-motor-modal-content::-webkit-scrollbar-thumb:hover {
    background: var(--color--scrollbar-thumb_hover); /* Color del pulgar al pasar el mouse */
}

.edit-motor-modal-content input {
    margin-top: 10px;
    margin-bottom: 0px;
    display: block;
    width: 100%;
}

.edit-motor-modal-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
}

.edit-motor-modal-button {
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color var(--transition-speed);
}

.edit-motor-modal-button.cancel {
    background-color: var(--color-border);
    color: #333;
}

.edit-motor-modal-button.confirm {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.edit-motor-modal-button.cancel:hover {
    background-color: var(--color-error);
    color: var(--color-white);
}

.edit-motor-modal-button.confirm:hover {
    background-color: var(--color-primary-hover);
    color: var(--color-primary-hover);
}

/* ------ Ventana modal de asignación de juntas a motores */
.select-juntas-g {
    width: 100%;
    max-width: 100%;
}

.assign-motor-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.assign-motor-modal-content {
    background: var(--color-white);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    max-width: 800px;
    width: 90%;
    height: 80vh; /* Para ajustar el tamaño de la ventana modal en pantallas pequeñas */
    overflow-y: auto; /* Habilitar scroll en caso de que el contenido sea más grande */
    margin: 4rem auto;
    margin-top: 8rem;
}

.assign-motor-modal-content::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de desplazamiento */
}

.assign-motor-modal-content::-webkit-scrollbar-track {
    background: var(--color--scrollbar-track); /* Color de fondo de la pista del scrollbar */
    border-radius: 10px; /* Bordes redondeados para la pista */
}

.assign-motor-modal-content::-webkit-scrollbar-thumb {
    background: var(--color--scrollbar-thumb); /* Color del pulgar (la parte que se mueve del scrollbar) */
    border-radius: 10px; /* Bordes redondeados */
}

.assign-motor-modal-content::-webkit-scrollbar-thumb:hover {
    background: var(--color--scrollbar-thumb_hover); /* Color del pulgar al pasar el mouse */
}

.assign-motor-modal-content h2 {
    margin-bottom: 25px;
    text-align: center;
}

.assign-motor-detail {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-border);
    padding: 0.5rem 0;
}

.assign-motor-detail label {
    font-weight: bold;
    color: var(--color-grey);
    font-size: 1rem;
    margin-right: 10px;
}

.assign-motor-detail span.assign-motor-value {
    color: var(--color-secondary);
    background-color: #f0f0f0;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    text-align: right;
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.assign-motor-modal-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
}

.assign-motor-modal-button {
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color var(--transition-speed);
}

.assign-motor-modal-button.cancel {
    background-color: var(--color-border);
    color: #333;
}

.assign-motor-modal-button.confirm {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.assign-motor-modal-button.cancel:hover {
    background-color: var(--color-error);
    color: var(--color-white);
}

.assign-motor-modal-button.confirm:hover {
    background-color: var(--color-primary-hover);
    color: var(--color-black);
}

/* ------ Ajustes responsivos para pantallas pequeñas */
@media (max-width: 1200px) {
    .assign-motor-modal-content {
        width: 85%;
    }
}

@media (max-width: 992px) {
    .assign-motor-modal-content {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .assign-motor-modal-content {
        width: 75%;
    }

    .motor-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .motor-actions {
        width: 100%;
        justify-content: flex-start;
        margin-top: 1rem;
    }

    .add-motor-button {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .assign-motor-modal-content {
        width: 90%;
    }
}
